<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Norwich testing</title>
    <link rel="stylesheet" href="css/aboutstyle.css">
</head>
<body>
    
<div class="about-section">
    <nav>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="info">Covid-19 info</a></li>
           <li><a class="aboutus" href="about"> <b>About Us</b></a></li>
        </ul>
     </nav>
    <h1>About Us Page</h1>
  <p>Welcome! We are the <u>Norwich Testing Initiative</u> (NTI) </p>
  <p> Millions have lost their jobs and thousands have lost their lives.
      We want to put an end to this and prevent Covid-19 from spreading even further. This is why we're here. To provide the ability for everyone to get tested safely, and to help track and trace those who tested positive so others don't get affected.<br><br> Work with us to fight this disease together!</p>
 </div>

<h2 style="text-align:center">Meet our team!</h2>
<div class="row">
    <div class="column">
    <div class="card" style="background-color: white;">
        <img src="assets/yash.jpg" alt="Yashimg" class="yashimg">
    <div class="container">
        <h2>Yash Ori</h2>
        <p class="title">CEO</p>
        <p>Meet our Chief Executive Officer, Yash Ori. Founder, and in charge of the entire operation.</p>
        <p><a href="mailto:yashori@gmail.com"><button class="button">Contact</button></a></p>
    </div>
    </div>
</div>

<div class="column">
    <div class="card" style="background-color: white;">
        
        <img src="assets/pat.jpg" alt="Patimg" class="patimg">
    
        <div class="container">
        <h2>Pattrawaut Thanomsing</h2>
        <p class="title">Operations Manager</p>
        <p>Meet NTI's Operations Manager, Pattrawaut Thanomsing. As Operations Manager he manages, delegates tasks and supervises the work-flow of our operation.</p>
        <p><a href="mailto:pattrawautthanomsing@gmail.com"><button class="button">Contact</button></a></p>
    </div>
    </div>
</div>

<div class="column">
    <div class="card" style="background-color: white;">
        <img src="assets/azeem.jpg" alt="Azeemimg" class="azeemimg">
    <div class="container">
        <h2>Zainal Azeem</h2>
        <p class="title">Test Slot Supervisor</p>
        <p>Meet NTI's Test Slot Supervisor, Zainal Azeem. He manages the test slots availablity, registration forms and track records of the operation.</p>
        <p><a href="mailto:zainalazeem@gmail.com"><button class="button">Contact</button></a></p>
    </div>
    </div>
</div>

    <footer>
        Copyright ©2020 <a href="mailto:contact@groupe5.com">Group E5</a>
     </footer>



    </body>
</html>