<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Norwich Testing Initiative</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico"/>
      <script src="js/slide.js" type="module"></script>
   </head>
   <body>
      <div id="wrapper">
         <header>
            <h1 id="mainTitle">Get Tested. Save Lives.</h1>
            <img src="assets/logo.png" id="logo">
            <div id="buttons">
               <a href="login" id="login">Login</a>
               <a href="signup" id="signUp">Sign Up</a>
            </div>
         </header>
         <img src="assets/banner.jpg" id="banner">
         <nav>
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="about">About Us</a></li>
               <li><a class="active" href="info">Covid-19 Info</a></li>
            </ul>
         </nav>
         <main>
            <!-- Jump to section -->
            <div class="column side">
               <h3>Jump to</h3>
               <ul>
                  <li><a href="#first">First Section</a></li>
                  <li><a href="#second">Second Section</a></li>
                  <li><a href="#third">Third Section</a></li>
               </ul>
            </div>
            <div class="column main">
               <h2>Covid Information</h2>
               <h3 id="first">First Section</h3>
               <!-- Video Player -->
               <div class="iframeContainer">
                  <iframe class="myiframe" src="https://www.youtube.com/embed/jOlHozGnYVQ"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend lacus eget quam convallis, nec bibendum tortor aliquam. Praesent ultricies nunc justo, eget varius nibh faucibus id. Sed sapien elit, commodo ac dolor id, pharetra dictum nunc. Cras eget venenatis lectus. Maecenas vitae vehicula justo. Cras ac sem rhoncus, varius purus vel, ultricies tellus. Suspendisse maximus neque sed nunc malesuada, id luctus odio vehicula. Nullam nec tellus nunc. Sed tempor arcu sit amet metus commodo semper. Curabitur elementum lacus enim, eget placerat mi accumsan quis.
                  Donec elit tellus, imperdiet eget blandit et, lacinia eget nulla. Sed lorem nisl, tempus bibendum velit vel, ornare finibus ex. Aliquam ac luctus sem. Ut quis sapien sit amet purus malesuada imperdiet et ut metus. Curabitur sit amet interdum felis. Cras non est egestas, accumsan augue sit amet, ultricies odio. Quisque ac risus erat. Phasellus non arcu in odio fermentum placerat eget eu lectus.
                  Aliquam erat volutpat. Vestibulum egestas eros ac ligula venenatis vehicula. Etiam quis mollis sem. Proin mollis ipsum in elit tincidunt, vitae interdum neque consectetur. Aenean eleifend pulvinar nisi nec venenatis. Curabitur laoreet, ante id ultricies eleifend, augue nibh viverra justo, vitae pharetra felis nisl eu enim. Phasellus vestibulum at diam ac dapibus. Nullam vestibulum, ante porttitor ultrices vulputate, nisl dolor tincidunt velit, non efficitur velit odio ac libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel diam justo. Donec iaculis urna at diam maximus facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
               </p>
               <p class="description">
                  Donec blandit nunc ut accumsan molestie. Donec pulvinar egestas urna at gravida. Donec imperdiet tempor tellus, eu iaculis mauris hendrerit id. Nunc volutpat consequat ipsum, non suscipit ex dapibus ut. Vivamus ut turpis lobortis, pulvinar leo at, tristique nibh. Phasellus convallis auctor malesuada. Morbi orci ex, eleifend sed consequat sed, ultrices a lorem. Vivamus velit erat, tincidunt in eleifend quis, dictum id dolor.
                  Aenean id facilisis purus, in tincidunt elit. Morbi porta mi eget enim consectetur, sed tempor nisl faucibus. Ut nec feugiat nibh, et ultricies nisi. Praesent ac neque ex. Nunc ornare porttitor elit sed tincidunt. Maecenas imperdiet ex ut mauris lobortis porta. Sed sit amet auctor erat, facilisis tristique ex. Duis sed ullamcorper nibh. Vestibulum in justo laoreet, sagittis diam fermentum, ullamcorper ante. Etiam in pharetra orci. Praesent eu fringilla felis.
               </p>
               <h3 id="second">Second Section</h3>
               <div class="imageCovid">
                  <!-- Slideshow container -->
                  <div class="slideshow-container">
                     <!-- Full-width images with number and caption text -->
                     <div class="mySlides fade">
                        <div class="numbertext">1 / 5</div>
                        <img class="slideImage" src="assets/fact1.png">
                        <div class="slideText">Fact 1</div>
                     </div>
                     <div class="mySlides fade">
                        <div class="numbertext">2 / 5</div>
                        <img class="slideImage" src="assets/fact2.png">
                        <div class="slideText">Fact 2</div>
                     </div>
                     <div class="mySlides fade">
                        <div class="numbertext">3 / 5</div>
                        <img class="slideImage" src="assets/fact3.png">
                        <div class="slideText">Fact 3</div>
                     </div>
                     <div class="mySlides fade">
                        <div class="numbertext">4 / 5</div>
                        <img class="slideImage" src="assets/fact4.png">
                        <div class="slideText">Fact 4</div>
                     </div>
                     <div class="mySlides fade">
                        <div class="numbertext">5 / 5</div>
                        <img class="slideImage" src="assets/fact5.png">
                        <div class="slideText">Fact 5</div>
                     </div>
                  </div>
               </div>
               <h3 id="third">Third Section</h3>
               <p class="description">
                  Aliquam aliquam, massa vel aliquet lacinia, nulla lorem feugiat dolor, quis dictum ligula libero vel sem. Morbi hendrerit condimentum nisl, ut pharetra orci pulvinar posuere. Nullam ullamcorper nunc eu ante aliquet tristique. Vestibulum id convallis mi. Donec est ligula, porta in diam in, venenatis fermentum neque. Morbi finibus tellus interdum quam vehicula, et eleifend metus ultrices. Nulla dignissim aliquet ullamcorper. Morbi vitae felis finibus, iaculis dui vestibulum, suscipit leo. Morbi et molestie lacus. Duis vulputate est sed sapien ultricies tempus. Proin iaculis quam in vehicula pellentesque. Curabitur consectetur dapibus urna. Sed vestibulum cursus ex in vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In eu feugiat nunc, ac tincidunt nulla.
                  Pellentesque quis ipsum ac nisi placerat interdum. Mauris consequat mollis dolor, a tincidunt enim molestie sit amet. Morbi ut nibh blandit, convallis sapien in, auctor tortor. Etiam fringilla ligula vel tellus mattis, sit amet accumsan mauris faucibus. Etiam dapibus nisi pretium turpis facilisis pellentesque. Duis ut sagittis nulla, quis fermentum nulla. Maecenas fringilla, leo et tincidunt posuere, risus metus ultricies ipsum, sit amet posuere est dolor imperdiet nisl. Fusce maximus, ex ut volutpat sodales, arcu arcu tincidunt orci, id placerat risus quam vitae elit.
               </p>
            </div>
         </main>
         <footer>
            Copyright ©2020 <a href="mailto:contact@groupe5.com">Group E5</a>
         </footer>
      </div>
   </body>
</html>