<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Norwich Testing Initiative</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico"/>
    <script src="js/slide.js" type="module"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1 id="mainTitle">Get Tested. Save Lives.</h1>
            <img src="assets/logo.png" id="logo">
            
            <div id="buttons">
                <a href="login" id="login">Login</a>
                <a href="signup" id="signUp">Sign Up</a>
            </div>
        </header>
        
        <img src="assets/banner.jpg" id="banner">
    
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="info">Covid-19 Info</a></li>
            </ul>
        </nav>
    
        <main>
            <div class="row">
                <div class="column side">
                  <h2>Side</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                </div>

            <div class="column main">
                <h2>Main Content</h2>
            <p id="description">
                Information.
                <div class="imageCovid">
 <!-- Slideshow container -->
 <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 5</div>
      <img class="slideImage" src="assets/fact1.png">
      <div class="slideText">Fact 1</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 5</div>
      <img class="slideImage" src="assets/fact2.png">
      <div class="slideText">Fact 2</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 5</div>
      <img class="slideImage" src="assets/fact3.png">
      <div class="slideText">Fact 3</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img class="slideImage" src="assets/fact4.png">
        <div class="slideText">Fact 4</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img class="slideImage" src="assets/fact5.png">
        <div class="slideText">Fact 5</div>
      </div>
    </div>
                
            </p>
        </div>
        </main>
    
        <footer>
            Copyright ©2020 <a href="mailto:contact@groupe5.com">Group E5</a>
        </footer>
    </div>
</body>
</html>