<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registercss.css">
    <!-- <script src="js/joke.js" type="module"></script> -->
    <script src="js/test.js" defer></script>
    <title>Register</title>
</head>
<body>
    <a href="/" id="homeBtn">Home</a>
    <div id="wrapper">
        <h1 id="mainTitle">Join the Norwich Testing Initiative</h1>
        <form action="#" method="post" id="registerForm">
            <input type="text" name="firstName" id="firstName" placeholder="What is your First Name?" required> <br><br>
            <input type="text" name="lastName" id="lastName" placeholder="What is your Last Name?" required> <br><br>
            <input type="email" name="email" id="email" placeholder="E-Mail. So we can reach you." required> <br><br>
            <input type="tel" name="telNumber" id="telNumber" placeholder="A Phone Number. To receive any updates." required> <br><br>
            <input type="password" name="password" id="password" placeholder="Password. Don't let anyone in." required> <br><br>
            <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Password Again. Just in case." required> <br><br>
            <input type="submit" id="submitBtn" value="Register!">
        </form> <br>
        <span id="register">Already have an account? This <a href="/login" id="loginBtn">way!</a></span>
    </div>
    <!-- <div id="joke"> $ git push origin-->
        <!-- <span id="jokeText"></span> -->
        <!-- <span id="msg"> (Click for another joke)</span> -->
    <!-- </div> -->
</body>
</html>