<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registercss.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <!-- <script src="js/joke.js" type="module"></script> -->
    <script src="js/test.js" defer></script>
    <title>Register</title>
</head>
<body>
    <a href="/" id="homeBtn">Home</a>
    <div id="wrapper">
        <h1 id="mainTitle">Join the Norwich Testing Initiative</h1>
        <form action="#" method="post" id="registerForm">
            
            <input type="text" name="firstName" id="firstName" placeholder="What is your First Name?" required> 
            <input type="text" name="lastName" id="lastName" placeholder="What is your Last Name?" required> 
            <input type="text" name="username" id="username" placeholder="Username. Make it good" required>
            <input type="email" name="email" id="email" placeholder="E-Mail. So we can reach you." required> 
            <input type="password" name="password" id="password" placeholder="Password. Don't let anyone in." required> 
            <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Password Again. Just in case." required>
            <input type="tel" name="telNumber" id="telNumber" placeholder="A Phone Number. To receive any updates." required> 
            <input type="tel" name="landline" id="landline" placeholder="Landline. To keep you posted." required>
            <input type="text" name="postcode" id="postcode" placeholder="Postcode" required>
            
            <select name="gender" id="gender" required>
                <option value="" disabled selected>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other/Non-Binary</option>
                <option value="pns">Prefer Not to Say</option>
            </select>
            
            <select name="ethnicity" id="ethnicity" required>
                <option value="" disabled selected>Ethnicity</option>
                <option value="asian">Asian</option>
                <option value="african">Black/African</option>
                <option value="caucausian">Caucasian</option>
                <option value="latino">Hispanic/Latino</option>
                <option value="nativeAmerican">Native American</option>
                <option value="mixed">Mixed Race</option>
                <option value="other">Other</option>
                <option value="pns">Prefer Not to Say</option>
            </select>

            <fieldset id="fieldOne" class="field">
                <legend>Test One</legend>
                <input type="date" name="test1" id="test1" min="2021-01-07" max="2021-01-28" required>
                <select name="slotOne" id="slotOne"required>
                    <option value="morning">Morning</option>
                    <option value="evening">Afternoon</option>
                </select>
            </fieldset>
            
            <fieldset id="fieldTwo" class="field">
                <legend>Test Two</legend>
                <input type="date" name="test2" id="test2" min="2021-01-14" max="2021-02-04" required>
                <select name="slotTwo" id="slotTwo" required>
                    <option value="morning">Morning</option>
                    <option value="evening">Afternoon</option>
                </select>
            </fieldset>

            <input type="submit" id="submitBtn" value="Register!">
        
        </form> <br>
        <span id="register">Already have an account? This <a href="/login" id="loginBtn">way!</a></span>
    </div>
</body>
</html>