
body {
    font-family: 'Manrope', sans-serif;
    background-color: #8BB6A6;
}

  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  nav {
    text-align: center;
    margin: 10px 0px;
}
nav > ul {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
nav > ul > li {
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a {
    font-size: 25px;
    display: block;
    line-height: 35px;
    padding: 0px 50px;
    text-decoration: none;
    color: black;
    border-right: 1px solid #000000;
}
nav > ul > li:last-child > a {
    border-right: 0;
}
nav > ul > li > a:hover {
    background-color: #dfdede ;
}

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    
  }
  
  .card {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 12px;
    min-height: 550px;
    height: 100%;
    
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 5px;
    text-align: center;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 30%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .yashimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top:10%;
  }

  .patimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top:10%;
  }

  .azeemimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top:10%;
  }
  
  .imageCon {
  max-width: 45vw;
     position: relative;
     margin: auto;
    }
  
  @media screen and (max-width: 800px) {
    .column{
      width: 100%
    }

    .card {
     
      height: 100%;
      
    }
      .button {
        width: 25%;
      }

      nav > ul > li {
        padding-bottom: 5px;
   }
    nav > ul > li > a {
        border-right: 0;
   }

}

footer {
  text-align: center;
}










