@import url('ManropeFont.css');

body {
    font-family: "Manrope", sans-serif;
    background-color: #8BB6A6;
    color: #FFFFFF;
    font-size: 20px;
    /* overflow: hidden; */
}

#wrapper {
    border: 3px solid white;
    position: relative;
    top: 5vh;
    left: 17.5vw;
    display: inline-block;
    padding: 25px;
    padding-top: 5px;
    border-radius: 10px;
    width: 60vw;
}

#mainTitle {
    text-align: center;
}

#registerForm {
    position: relative;
}

#firstName, #lastName, #email, #username, #telNumber, #password, #passwordConfirm, #postcode, #landline {
    font-family: inherit;
    color: #FFFFFF;
    border: none;
    border-bottom: 5px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    width: 50%;
    font-size: 20px;
    margin-top: 10px;
    outline: none;
}

#firstName::placeholder, #lastName::placeholder, #email::placeholder, #username::placeholder, #telNumber::placeholder, #password::placeholder, #passwordConfirm::placeholder, #postcode::placeholder, #landline::placeholder {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

#gender {
    position: absolute;
    top: 0;
    margin: 15px;
    margin-left: 100px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    color: #333333;
    border: 5px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    min-width: 209px;
}

#ethnicity {
    position: absolute;
    top: 0;
    margin-left: 100px;
    margin-top: 70px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    color: #333333;
    border: 5px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    min-width: 209px;
}

#test1 {
    /* position: absolute; */
    margin-bottom: 5px;
    font-family: inherit;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 5px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    min-width: 209px;
}

#test2 {
    /* position: absolute; */
    margin-bottom: 5px;
    font-family: inherit;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 5px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    min-width: 209px;
}

.field {
    display: inline-block;
    border: 5px solid #ffffff;
}

.testLabel {
    font-size: 20px;
}

#fieldOne {
    position: absolute;
    top: 0;
    margin-left: 100px;
    margin-top: 120px;
}

#fieldTwo {
    position: absolute;
    top: 0;
    margin-left: 100px;
    margin-top: 275px;
}

#slotOne {
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    color: #333333;
    border: 5px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    min-width: 209px;
}

#slotTwo {
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    color: #333333;
    border: 5px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    min-width: 209px;
}

#submitBtn {
    font-family: "Manrope", sans-serif;
    position: relative;
    top: 15px;
    left: 40%;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    color: #333333;
    padding: 8px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    display: block;
    transition: transform 0.2s;
}

#submitBtn:focus, #submitBtn:hover {
    transform: scale(1.1);
}

#loginBtn {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: #333333;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

#homeBtn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: #333333;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}