@import url('ManropeFont.css');

body {
    font-family: "Manrope", sans-serif;
    background-color: #8BB6A6;
    color: #FFFFFF;
    font-size: 20px;
    overflow: hidden;
}

#wrapper {
    border: 3px solid white;
    position: relative;
    top: 5vh;
    left: 32vw;
    display: inline-block;
    padding: 25px;
    border-radius: 10px;
}

#mainTitle {
    text-align: center;
}

#registerForm {
    position: relative;
}

#firstName, #lastName, #email, #telNumber, #password, #passwordConfirm {
    font-family: inherit;
    color: #FFFFFF;
    border: none;
    border-bottom: 5px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    width: 75%;
    font-size: 20px;
}

#firstName::placeholder, #lastName::placeholder, #email::placeholder, #telNumber::placeholder, #password::placeholder, #passwordConfirm::placeholder {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

#submitBtn {
    font-family: "Manrope", sans-serif;
    position: relative;
    top: 15px;
    left: 40%;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    color: #333333;
    padding: 8px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.2s;
}

#submitBtn:focus, #submitBtn:hover {
    transform: scale(1.1);
}

#loginBtn {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: #333333;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

#homeBtn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: #333333;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}