@import url('ManropeFont.css');

body {
    font-family: 'Manrope', sans-serif;
    background-color: #8BB6A6;
}

#wrapper {
    margin: 5px 150px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

header {
    color: #333333;
    position: relative;
    height: 80px;
    margin-bottom: 15px;
}

#mainTitle {
    font-size: 50px;
    text-align: center;
    font-size: 3.5vw;
}

#logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;

   
    
}

#buttons {
    position: absolute;
    right: 0;
    top: 0;
}

#buttons > a {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #9bc1c2;
    color: #333333;
}

#banner {
    height: 300px;
    width: 100%;
}

nav {
    text-align: center;
    margin: 10px 0px;
    
}

nav > ul {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

nav > ul > li {
    display: inline-block;
    list-style-type: none;
    
}

nav > ul > li > a {
    font-size: 25px;
    display: block;
    line-height: 35px;
    padding: 0px 50px;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #dfdede ;
  }

footer {
    text-align: center;
}

#description {
    margin: 0;
    text-align: justify;
}




*{box-sizing:border-box}

.imageCovid {
padding: 20px
}

/* Slideshow container */
.slideshow-container {
  max-width: 45vw;
  position: relative;
  margin: auto;
 
  
  
}

.slideImage {
    width: 50%;
    height: 50%;
    box-shadow: 3px 3px 5px 6px rgb(109, 107, 107);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Image : remove the space for descender*/
.slideImage{
    width:100%;
    display: block;
}


/* Caption text */
.slideText {  
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;


  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;

}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.main {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
      .slideshow-container {
        max-width: 80vw;


    }
}
