@import url('ManropeFont.css');

body {
    font-family: 'Manrope', sans-serif;
    background-color: #8BB6A6;
}

#wrapper {
    margin: 15px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

header {
    color: #333333;
    position: relative;
    height: 80px;
    margin-bottom: 15px;
}

#mainTitle {
    font-size: 50px;
    text-align: center;
}

#logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
}

#buttons {
    position: absolute;
    right: 0;
    top: 0;
}

#buttons > a {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #9bc1c2;
    color: #333333;
}

#banner {
    height: 300px;
    width: 100%;
}

nav {
    text-align: center;
    margin: 10px 0px;
}

nav > ul {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

nav > ul > li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    font-size: 25px;
    display: block;
    line-height: 35px;
    padding: 0px 50px;
    text-decoration: none;
}

footer {
    text-align: center;
}

#description {
    margin: 0;
    text-align: justify;
}